* {
    padding: 0;
    margin: 0;
}

body {
    background: #f8f8f8;
}

nav {
    width: 100%;
    height: 70px;
    min-width: 1030px;
    background: #ffffff;
    border-bottom: solid 1px #b3b2ae;
}

nav .logo_search > div {
    float: left;
}

nav .title {
    font-family: Arial-BoldMT;
    font-size: 40px;
    font-weight: bold;
    padding: 0 35px;
    line-height: 70px;
    color: #176afd;
}

nav .search {
    position: relative;
    width: 440px;
    height: 70px;
}

nav .search input {
    position: absolute;
    width: 440px;
    height: 30px;
    top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: solid 1px #aaaaaa;
}

nav .search img {
    position: absolute;
    top: 28px;
    right: 15px;
}

nav .more {
    line-height: 70px;
    font-size: 14px;
    color: #858585;
    margin-left: 10px;
}

nav .more p {
    margin: 0;
}

nav .mine {
    float: right;
    width: 350px;
}

nav .mine span {
    display: inline-block;
    line-height: 70px;
    font-size: 16px;
    color: #1e1e1e;
    margin-right: 30px;
}

nav .mine span img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.search_more {
    width: 100%;
    height: 36px;
    font-size: 16px;
    background: rgba(233, 233, 233, 0.52);
    box-sizing: border-box;
    padding: 0 160px;
    min-width: 1030px;
}

.search_more div span {
    float: left;
    margin-right: 30px;
    line-height: 36px;
}

main {
    width: 100%;
    min-width: 1200px;
    height: 700px;

}

article {
    float: left;
    width: 670px;
    height: 820px;
    background: #ffffff;
    /*margin-left: 20px;*/
    border-right: solid 1px #cccccc;
}
.article{
    width: 900px;
}

article > p {
    font-size: 14px;
    line-height: 50px;
    color: #cccccc;
}

aside {
    float: left;
    width: 360px;
    height: 565px;
}

/*{#   左侧内容#}*/

.correlation_news {
    width: 524px;
    min-width: 280px;
    height: 80%;
    padding-left: 60px;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
}

.correlation_news .correlation_cont_box {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.correlation_news .correlation_news_cont {
    width: 100%;
    height: 90px;
    margin: 20px 0;
}

.correlation_news .correlation_news_cont p {
    margin-bottom: 8px;
}

.correlation_news .correlation_news_cont p :last-child {
    margin: 0;
}

.correlation_news .correlation_news_cont .cont_tit a {
    font-size: 16px;
    color: #0000cc;
    text-decoration: underline;
}

.correlation_news .correlation_news_cont .cont_details {
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.correlation_news .correlation_news_cont .cont_url {
    color: #008000;
    font-size: 12px;
}

.correlation_news .correlation_news_cont .cont_url > span {
    color: #3f3f3f;
    text-decoration: underline;
    margin-left: 4px;
}

.correlation_news .correlation_news_cont .cont_url > span span {
    color: #E10000;

}

.correlation_news .correlation_news_cont .cont_url > span:first-child {
    color: #3f3f3f;
    text-decoration: none;
    margin-left: 4px;
}

/*{#    右侧内容#}*/
.box {
    height: 500px;
    /*margin-top: 45px;*/
    margin-left: 20px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

#box {
    width: 340px;
    height: 223px;
    background-color: #dceaff !important;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.family_tit {
    height: 41px;
    background-color: #ffffff;
}

.family_tit span {
    line-height: 41px;
    margin-left: 10px;
}

.family_tit img {
    width: 18px;
    height: 18px;
    float: right;
    margin: 11px 12px 0 0;
}


.family_tit .exit-btn {
    width: 22px;
    height: 22px;
    margin-right: 30px;
    display: none;
}

/*/*/
#app {
    margin-top: 30px;
}

main {
    padding: 16px 150px;

}

main > p {
    font-size: 14px;
    color: #b4b4b4;
    margin-bottom: 6px;
}

.aboutCont {
    width: 280px;
    height: 820px;
    float: left;
    margin-right: 20px;
}

.aboutCont .correlation_news {
    width: 100%;
    height: 100%;
    padding-left: 0px;


}

::-webkit-scrollbar {
    display: none;
}

.aboutCont .correlation_news_tit {
    width: 100%;
    height: 40px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);
    font-size: 15px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 15px;
    box-sizing: border-box;
}

.aboutCont .correlation_cont_box {
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.aboutCont .cont_tit {
    font-size: 14px;
}
.aboutCont  .correlation_news .correlation_news_cont{
    height: 75px;
}
.aboutCont  .correlation_news .correlation_news_cont .cont_details{
    color: #0000cc;
}
.aboutCont  .correlation_news .correlation_news_cont>div{
    float: left;
    width: 180px;
    margin-left: 16px;
}
.person_img{
    display: inline-block;
    float: left;
	width: 70px;
	height: 70px;
	border-radius: 5px;

}
.person{
    width: 355px;
    margin-left: 32px;
}
.person .correlation_news .correlation_news_cont .cont_tit{
        color: #0000cc;
     line-height: 40px;
}
.person .correlation_news .correlation_news_cont .cont_details{
    color: #5a5a5a;
}
