<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>News</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btn.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/head.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <!-- 时间管理功能 -->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-cn") }}


    <style>
    </style>
</head>
<body>


<nav id="navigation">
    <div class="sticky-wrapper is-sticky nav-head">
        <div class="navbar navbar-default nav-shadow" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="    height: 100%;">
                        <img alt="NETTA" class="nav-logo" src="{{ url_for('static', filename='img/logo.png') }}">
                    </a>
                </div>
                <div class="navbar-collapse collapse" style="height: 65px;">
                    <ul class="nav navbar-nav navbar-right" style="line-height: 65px;">
                        <li class="nav-head-li">
                            <div class="input-group nav-search">
                                <div class="input-group-btn">
                                    <select class="form-control form-control-nav-head form-control-nav-head-button">
                                        <option>热点</option>
                                        <option>机构</option>
                                        <option>人物</option>
                                    </select>
                                </div><!-- /btn-group -->
                                <input id="search" type="text"
                                       class="form-control form-control-nav-head form-control-nav-head-search"
                                       style="    margin-top: 12.28px;">
                                <span class="input-group-btn search-button-box">
                                <button class="btn" type="button">
                                    <i id="search-btn" class="search-button" onclick="search()"></i>
                                </button>
                            </span>
                            </div><!-- /input-group -->
                        </li>
                        <li class="nav-head-li"><a href="/map">节点详情</a></li>
                        <li class="nav-head-li"><a href="/download">下载</a></li>
                        {% if not user %}
                            <li class="nav-head-li">
                                <button class="btn beauty-btn button-login" data-toggle="modal"
                                        data-target="#login-modal">登录
                                </button>
                            </li>
                        {% else %}
                            <li class="nav-head-li"><a href="/manage/information"><img
                                    src="{{ url_for('static', filename= user.get("head_pic") if user.get("head_pic") else "head_pic/default.jpg") }}"
                                    class="head-pic head-pic-small"><span>{{ user.get("nick_name") }}</span></a></li>
                            <li class="nav-head-li"><a href="javascript:void(0)" id="logout"><span>退出</span></a></li>
                        {% endif %}
                    </ul>


                    <div class="modal fade" id="login-modal" tabindex="5" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content card">
                                <div style="width: 80%;margin-left:20%">
                                    <form id="login-form">
                                        <div style="width: 133px;height: 35px;margin-left: 114px; margin-right: 113px;padding-top: 35px">
                                            <img src="https://i.loli.net/2019/03/31/5ca03cdf7154a.png"/>
                                        </div>
                                        <div style="margin-left:30px; padding-top: 36px; ">
                                            <input type="text" placeholder="请输入账号" class="form-control input-account"
                                                   name="account"/>
                                            <input type="password" placeholder="请输入密码" class="form-control input-passwd"
                                                   name="password"/>
                                            {#                                    <button class="send-code" >发送验证码</button>#}
                                        </div>
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                        <div style="margin-left:30px;padding-top:16px">
                                            <button style="width:300px;
                                    height:42px;" class="btn beauty-btn" type="button" id="login-btn">登录
                                            </button>
                                        </div>
                                        <font style="width:163px;
                                height:12px;
                                font-size:12px;
                                font-family:SourceHanSansCN-Regular;
                                font-weight:400;
                                color:rgba(90,90,90,1);
                                line-height:48px;
                                margin-left: 30px;
                                padding-top: 10px;
                                font-size:12px;
                        font-family:SourceHanSansCN-Regular;
                        font-weight:400;
                        color:rgba(90,90,90,1);
                        line-height:48px;">阅读并接受《用户协议》
                                        </font>
                                        <div style="margin-left:30px;padding-bottom:45px">
                                            <img src="https://i.loli.net/2019/03/31/5ca043be37cdb.png"
                                                 style="width:24px;height:20px"/>
                                            <img src="https://i.loli.net/2019/03/31/5ca044edcc990.png"
                                                 style="width:19px;height:21px"/>
                                            <a data-dismiss="modal" data-toggle="modal" data-target="#register-modal">没有账号?去注册</a>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                    <div class="modal fade" id="register-modal" tabindex="5" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content card">
                                <div style="width: 80%;margin-left:20%">
                                    <form id="register-form">
                                        <div style="width: 133px;height: 35px;margin-left: 114px; margin-right: 113px;padding-top: 35px">
                                            <img src="https://i.loli.net/2019/03/31/5ca03cdf7154a.png"/>
                                        </div>
                                        <div style="margin-left:30px; padding-top: 36px; ">
                                            <div id="account">
                                                <input type="text" placeholder="请输入账号"
                                                       class="form-control input-account" name="account"/>
                                                <p class="span-error" id="notice-account"></p>
                                            </div>
                                            <div id="nick-name">
                                                <input type="text" placeholder="请输入昵称"
                                                       class="form-control input-nickname" name="nick_name"/>
                                                <p class="span-error" id="notice-nickname"></p>
                                            </div>
                                            <div id="password1">
                                                <input type="password" placeholder="请输入密码"
                                                       class="form-control input-passwd" name="password1"
                                                       id="input-pwd1"/>
                                                <p class="span-error" id="notice-pwd1"></p>
                                            </div>
                                            <div id="password2">
                                                <input type="password" placeholder="请再次输入密码"
                                                       class="form-control input-passwd" name="password2"
                                                       id="input-pwd2"/>
                                                <p class="span-error" id="notice-pwd2"></p>
                                            </div>
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            {#                                    <button class="send-code" >发送验证码</button>#}
                                        </div>
                                        <div style="margin-left:30px;padding-top:16px">
                                            <button style="width:300px;
                                    height:42px;" class="btn beauty-btn" type="button" id="register-btn">注册
                                            </button>
                                        </div>
                                        <font style="width:163px;
                                height:12px;
                                font-size:12px;
                                font-family:SourceHanSansCN-Regular;
                                font-weight:400;
                                color:rgba(90,90,90,1);
                                line-height:48px;
                                margin-left: 30px;
                                padding-top: 10px;
                                font-size:12px;
                        font-family:SourceHanSansCN-Regular;
                        font-weight:400;
                        color:rgba(90,90,90,1);
                        line-height:48px;">阅读并接受《用户协议》
                                        </font>
                                        <div style="margin-left:30px;padding-bottom:45px">
                                            <a data-dismiss="modal" data-toggle="modal" data-target="#login-modal">已有账号
                                                去登录</a>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div>
    </div><!--navbar-default-->
</nav>

{% block  content_block %}

{% endblock %}



{#<footer style="margin-top: 50px">#}
{#    <div class="container" style="padding-top: 80px">#}
{##}
{#        <div class="col-md-5 ">#}
{#            <div class="footer-logo"></div>#}
{#        </div>#}
{#        <div class=" col-md-2 ">#}
{#            <div class="qr-code"></div>#}
{#        </div>#}
{#        <div class="col-md-3 ">#}
{#            <div class="compangy-info">#}
{#                <p>官网网站：https://netta.ip/</p>#}
{#                <p>邮箱：support@netta.io</p>#}
{#                <p>电报群(中文)：t.me/NettaOfficial</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="copyright">#}
{#        <p>#}
{#            Copyright (c) 2013 netta.ip/. All Rights Reserved V 1.8.5 京ICP备13015845号-1#}
{#        </p>#}
{#    </div>#}
{#</footer>#}

</body>
{% block js %}
{% endblock %}
<script>
    $('#logout').click(function () {

        $.ajax({
            type: 'POST',
            url: "/logout",

            success: function () {
                window.location.reload();
            }

        });

    });
    var login_btn = document.getElementById('login-btn');
    var register_btn = document.getElementById('register-btn');
    var input_pwd1 = document.getElementById('input-pwd1');
    var input_pwd2 = document.getElementById('input-pwd2');

    function account_error() {
        document.getElementById('account').setAttribute('class', 'has-error');
        $('#notice-account').html('帐号重复');
    }

    function nickname_error() {
        document.getElementById('nick-name').setAttribute('class', 'has-error');
        $('#notice-nickname').html('用户名重复');
    }

    function password_error() {

        form = document.querySelector("#register-form");
        formData = new FormData(form);

        pwd1 = formData.get("password1");
        pwd2 = formData.get("password2");
        if (pwd1 !== pwd2) {
            document.getElementById('password1').setAttribute('class', 'has-error');
            document.getElementById('password2').setAttribute('class', 'has-error');
            $('#notice-pwd1').html('两次输入密码不同');
            $('#notice-pwd2').html('两次输入密码不同');
        }
        else {
            document.getElementById('password1').classList.remove("has-error");
            document.getElementById('password2').classList.remove("has-error");
            $('#notice-pwd1').html('');
            $('#notice-pwd2').html('');
        }

    }

    function clear() {
        console.log('clear');
        document.getElementById('account').classList.remove("has-error");
        document.getElementById('nick-name').classList.remove("has-error");
        document.getElementById('password1').classList.remove("has-error");
        document.getElementById('password2').classList.remove("has-error");
        $('#notice-account').html('');
        $('#notice-nickname').html('');
        $('#notice-pwd1').html('');
        $('#notice-pwd2').html('');
    }

    input_pwd2.addEventListener('change', password_error, false);


    login_btn.onclick = function () {
        form = document.getElementById("login-form");
        formData = new FormData(form);
        $.ajax({
            url: "/login",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.location.reload();
                {#alert(data);#}
            },
            error: function (e) {
                alert("错误！！");
            }
        });
    };
    register_btn.onclick = function () {
        form = document.querySelector("#register-form");
        formData = new FormData(form);

        pwd1 = formData.get("password1");
        pwd2 = formData.get("password2");
        if (pwd1 !== pwd2) {
            password_error();
            return 'error';
        }

        $.ajax({
            url: "/register",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.location.reload();
                {#alert(data);#}
            },
            error: function (e) {
                alert("错误！！");
            }
        });
    };


    function search() {
        var input_data = document.getElementById("search").value;
        window.location.href = "/search?kw=" + encodeURI(input_data);
        {#console.log("/search?" + encodeURI(input_data));#}


        {#alert(input_data);#}
        {#$.ajax({#}
        {#    url: "/search",#}
        {#    type: "post",#}
        {#    data: input_data,#}
        {#    processData:false,#}
        {#    contentType:false,#}
        {#    success:function(result) {#}
        {#        window.location.href = "/search";#}
        {#        console.log(result.get("news"));#}
        {#        alert("222222222222")#}
        {# } #}
        {##}
        {# }) #}
    }


</script>

<script src="{{ url_for('static', filename='js/tongji.js') }}"></script>

</html>