{% extends 'base.html' %}
{% block content_block %}
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/btn.css">
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="stylesheet" href="../static/css/like.css">



    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <!-- 用户信息 -->
                <div class="card user-info">
                    <div class="avatar">
                        <img src="{{ url_for('static', filename= user.get("head_pic") if user.get("head_pic") else "head_pic/default.jpg") }}"
                             height="80px" width="80px" class="img-circle center-block">
                    </div>
                    <div class="name text-center">
                        {{ user.get("nick_name") }}
                    </div>
                    <div class="detail text-center">
                        <span class="location">{{ user.get("province") if user.get("province") else "" }} {{ user.get("city") if user.get("city") else "" }} {{ user.get("country") if user.get("country") else "" }}</span>
                        {% if user.get("sex") == "male" %}
                            <div class="icon-male"></div>  <!--<div class="icon-female"></div>-->
                        {% elif user.get("sex") == "female" %}
                            <div class="icon-female"></div>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="read">
                        <button class="btn beauty-btn center-block" onclick="javascrtpt:window.location.href='/'">开始阅读
                        </button>
                    </div>
                </div>

                <!-- 菜单 -->
                <div class="card menu">
                    <ul class="list-group">
                        <li class="list-group-item activate"><a href="/manage/favourite">我的喜欢</a></li>
                        <li class="list-group-item"><a href="/manage/comment">我的评论</a></li>
                        <li class="list-group-item"><a href="/manage/notice">消息通知</a></li>
                        <li class="list-group-item"><a href="/manage/information">账号信息</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 card full">
                <!-- 新闻带图 -->
                {% for new in  news %}
                    {% if new.img %}
                        <div class="news">
                            <div class="picture">
                                <img src="{{ new.img }}">
                            </div>
                            <div class="content">
                                <div class="title">{{ new.title }}</div>
                                <div class="content-bottom">
                                    <span class="category">{{ new.source }}</span>
                                    <div class="info">
                                        {% for word in  new.key_word %}
                                            <span class="tag">{{ word }}</span>
                                        {% endfor %}

                                        <span>|</span> <span>{{ new.news_time }}</span>
                                    </div>
                                    <div class="counter">
                                        <span class="icon-view"></span>
                                        <span class="number">{{ new.watch_num }}</span>
                                        <span class="icon-comment"></span>
                                        <span class="number">{{ new.comment_num }}</span>
                                        <a class="icon-favour-a" href="javascript:void(0)" id="{{ new.news_id }}"><span
                                                class="icon-favour"></span> </a>
                                        <span class="number">{{ new.like_num }}</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- 新闻带图 -->
                    {% else %}
                        <div class="news news-plain">
                            <div class="content">
                                <div class="title">{{ new.title }}</div>
                                <div class="content-bottom">
                                    <span class="category">{{ new.source }}</span>
                                    <div class="info">
                                        {% for word in  new.key_word %}
                                            <span class="tag">{{ word }}</span>
                                        {% endfor %}
                                        <span>|</span> <span>{{ new.time }}</span>
                                    </div>
                                    <div class="counter">
                                        <span class="icon-view"></span>
                                        <span class="number">{{ new.watch_num }}</span>
                                        <span class="icon-comment"></span>
                                        <span class="number">{{ new.comment_num }}</span>
                                        <a class="icon-favour-a" href="javascript:void(0)" id="{{ new.news_id }}"><span
                                                class="icon-favour"></span></a>
                                        <span class="number">{{ new.like_num }}</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- 新闻无图 -->
                    {% endif %}
                {% endfor %}

            </div>

        </div>

    </div>

    <script>
        {# 当限于喜欢页面的添加和删除 #}

        function aaa(e) {
            {#console.log(e);#}
            event.stopPropagation();
            var v_id = e.currentTarget.getAttribute('id');
            var formdata = new FormData();
            formdata.append("new_id", v_id);
            $.ajax({
                type: "POST",
                url: "/manage/favourite",
                data: formdata,
                processData: false,
                contentType: false,
                success: function (result) {
                    {#console.log(result);#}
                    var current_like_num = $(e.currentTarget).next().html();
                    console.log(current_like_num);
                    var like_num = result["like_num"];
                    if (current_like_num > like_num) {
                        $(e.currentTarget).next().html(like_num);
                        $(e.currentTarget).children(".icon-favour").css('background', 'url(../static/img/favour_gray.png) no-repeat');
                    }
                    else {
                        $(e.currentTarget).next().html(like_num);
                        $(e.currentTarget).children(".icon-favour").css('background', 'url(../static/img/favour.png) no-repeat');
                    }

                    alert("OK")
                }
            })
        }

        $(".icon-favour-a").on("click", aaa)

    </script>

{% endblock %}