.beauty-btn {
    color: white;
    width:134px;
    height:35px;
    background:linear-gradient(0deg,rgba(217,0,1,1),rgba(255,119,120,1));
    box-shadow:0px 0px 7px 0px rgba(86,144,254,0.27);
    border-radius:5px;
}
.beauty-btn:hover {
    color: white;
    background:linear-gradient(0deg, rgb(252, 23, 4), rgb(238, 118, 119));
    box-shadow:0px 0px 7px 0px rgba(86,144,254,0.27);
    border-radius:5px;
}
.beauty-btn:active {
    color: white;
    background:linear-gradient(0deg, rgb(252, 23, 4), rgb(238, 118, 119));
    box-shadow:0px 0px 7px 0px rgba(86,144,254,0.27);
    border-radius:5px;
}
.beauty-btn:focus{
    color: white;
    outline: 0;
}