<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>

</head>
<body>
<nav>
    <div class="logo_search">
        <div class="title">
            Netta
        </div>
        <div class="search">
            <input type="text">
            <img src="../static/img/search.png" alt="">
        </div>
        <div class="more">
            <p>更多搜索条件</p>
        </div>
    </div>
    <div class="mine">
        <span><img src="../static/img/history.png" alt="">历史记录</span>
        <span>订阅</span>
        <span>下载</span>
        <span><img src="../static/img/mine.png" alt=""></span>
    </div>


</nav>
<div class="search_more" style="display: none;">
    <div>
        <span>选项1</span>
        <span>选项2</span>
        <span>选项3</span>
        <span>选项4</span>
    </div>
</div>
<main>
    <p>Netta为您找到相关结果约100,000,000个</p>
    <div class="figureList aboutCont">
        <div class="correlation_news">
            <div class="correlation_news_tit">
                <span>核心事件</span>
            </div>
            <div class="correlation_cont_box">
                <div class="correlation_news_cont">
                    <p class="cont_tit">1999年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2000年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2001年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">1999年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2002年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit">2003年</p>
                    <p class="cont_details">马云带领下的18位创始人在杭州的公
                        寓中正式成立了阿里巴巴集团</p>
                </div>

            </div>
        </div>
    </div>


    </div>
    <article>
        <div class="correlation_news">
            <div class="correlation_cont_box">
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>
                <div class="correlation_news_cont">
                    <p class="cont_tit"><a href="#">中华人民共和国</a></p>
                    <p class="cont_details">中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...中华人民共和国，简称“中国”，成立于1949年
                        10月1日 [1] ，位于亚洲东部...</p>
                    <p class="cont_url">www.zhihu.com - 3小时前 <span>原创度：<span>95%</span></span> <span>查看全部</span></p>
                </div>

            </div>
        </div>
        </div>
        <div id="app" style="padding-left:120px;">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="100">
            </el-pagination>
        </div>

    </article>
    <aside>
        <div class="box" id="box">
            <div class="family_tit">
                <span>图谱</span>
                <img class="full-btn" src="../static/img/icon_screen.png"
                     onclick="requestFullScreen(document.getElementById('box'))">
                <img class="exit-btn" src="../static/img/icon_exit_screen.png" onclick="exitFull()">
            </div>
            <iframe src="/source_show/{{ id }}&relation1" style="width: 100%;height: 100%"></iframe>
        </div>
        <div class="figureList aboutCont person" style="display: none">
            <div class="correlation_news">
                <div class="correlation_news_tit">
                    <span>核心事件</span>
                </div>
                <div class="correlation_cont_box">
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                    <div class="correlation_news_cont">
                        <img class="person_img" src="../static/img/mayun.png" alt="">
                        <div>
                            <p class="cont_tit">马云</p>
                            <p class="cont_details">乡村教师 苏州大学附属医学院</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </aside>

</main>
</body>
<script>
    $(function () {
        var cont = $('article .cont_tit');
        console.log(cont.length)
        for (var i = 0; i < cont.length; i++) {
            let text = cont[i].innerHTML;
            let findText = text.split("中华");
            let html = findText.join("<span style=\"color: red;\">" + "中华" + "</span>");
            $("article .cont_tit").empty();
            $("article .cont_tit").append(html);
        }
        var cont1 = $('.aboutCont .cont_details');
        console.log(cont1.length)
        for (var i = 0; i < cont1.length; i++) {
            let text = cont1[i].innerHTML;
            let findText = text.split("马云");
            let html = findText.join("<span style=\"color: red;\">" + "马云" + "</span>");
            $(".aboutCont .cont_details").empty();
            $(".aboutCont .cont_details").append(html);
        }

        $(".more").click(function () {
            $(".search_more").slideToggle("slow")
        });
    })

    //全屏
    var full = document.querySelectorAll('.full-btn');
    var exit = document.querySelectorAll('.exit-btn');

    function requestFullScreen(element) {
        for (let index = 0; index < full.length; index++) {
            full[index].style.display = "none";
            full[index].style.display = "none";
        }
        for (let index = 0; index < exit.length; index++) {
            exit[index].style.display = "block";
            exit[index].style.display = "block";
        }

        element.style.backgroundColor = '#fff';

        // 判断各种浏览器，找到正确的方法
        var requestMethod = element.requestFullScreen || //W3C
            element.webkitRequestFullScreen || //Chrome等
            element.mozRequestFullScreen || //FireFox
            element.msRequestFullScreen; //IE11
        if (requestMethod) {
            requestMethod.call(element);
        } else if (typeof window.ActiveXObject !== "undefined") {//for Internet Explorer
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }

    }


    function exitFull() {
        for (let index = 0; index < full.length; index++) {
            full[index].style.display = "block";
            full[index].style.display = "block";
        }
        for (let index = 0; index < exit.length; index++) {
            exit[index].style.display = "none";
            exit[index].style.display = "none";
        }
        // 判断各种浏览器，找到正确的方法
        var exitMethod = document.exitFullscreen || //W3C
            document.mozCancelFullScreen || //Chrome等
            document.webkitExitFullscreen || //FireFox
            document.webkitExitFullscreen; //IE11
        if (exitMethod) {
            exitMethod.call(document);
        } else if (typeof window.ActiveXObject !== "undefined") {//for Internet Explorer
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
    }
</script>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {visible: false}
        }
    })
</script>
</html>