html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-weight: inherit; */
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    color: #2f332a;
    font: 15px/21px Arial, Helvetica, simsun, sans-serif;
    background: #f0f6e4 \9;
}

h1, h2, h3, h4, h5, h6 {
    /* color: #2f332a; */
    font-weight: bold;
    /* font-family: Helvetica, Arial, sans-serif; */
    padding-bottom: 5px;
    margin-top: 15px;
}

h1 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

h2 {
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
}

h6 {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
}

a {
    color: #1890ff;
    text-decoration: underline;
}

a:hover {
    background-color: #3C6E31;
    color: white;
}

input.radio {
    margin: 0 2px 0 8px;
}

input.radio.first {
    margin-left: 0;
}

input.empty {
    color: lightgray;
}

code {
    color: #2f332a;
}

.highlight_red {
    color: #A60000;
}

.highlight_green {
    color: #A7F43D;
}

li {
    /* list-style: circle; */
    font-size: 12px;
    list-style: none;
}

li.title {
    list-style: none;
}

ul.list {
    margin-left: 17px;
}

div.content_wrap {
    width:250px;
    height: 300px;
    /*background-color: #f0f6e4;*/
    border: 1px solid #617775;
    overflow: hidden;
    border-radius: 10px;
}

div.content_wrap div.left {
    float: left;
    width: 250px;
}

div.content_wrap div.right {
    float: right;
    width: 340px;
}

div.zTreeDemoBackground {
    width: 250px;
    height: 362px;
    text-align: left;
}

ul.ztree {
margin-left: 20px;
    margin-top: 10px;
    width: 282px;
    height: 250px;
    overflow-y: scroll;
    /*overflow-x: auto;*/
}

ul.log {
    border: 1px solid #617775;
    /*background: #f0f6e4;*/
    width: 300px;
    height: 170px;
    overflow: hidden;
}

ul.log.small {
    height: 45px;
}

ul.log li {
    color: #666666;
    list-style: none;
    padding-left: 10px;
}

ul.log li.dark {
    background-color: #E3E3E3;
}

/* ruler */
div.ruler {
    height: 20px;
    width: 220px;
    /*background-color: #f0f6e4;*/
    border: 1px solid #333;
    margin-bottom: 5px;
    cursor: pointer
}

div.ruler div.cursor {
    height: 20px;
    width: 30px;
    background-color: #3C6E31;
    color: white;
    text-align: right;
    padding-right: 5px;
    cursor: pointer
}
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}


#center,#center2 {
    padding: 10px;
}
#center input,#center2 input{
    height: 20px;
    width: 150px;
    margin-left: 20px;
    border-radius: 5px;

}
#center2 button,#center button{
    border-radius: 5px;
}




#center3 {
    width: 700px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    line-height: 30px;
    padding-top: 10px;
    overflow: hidden;
    border: 0;
    margin-top: 50px;
}
#center3>div{
    width: 282px;
    margin: 0 auto;
}
ul.ztree1 {
    margin-top: 10px;
    border-top: none;

    width: 100%;
    height: 350px;
     overflow-y: auto;
    overflow-x: auto;
    margin-left: 0;
    padding: 0;
}
/* #center div {
    width: 350px;
    margin: 0 auto;
}
#key, #zTreeDemo_title, #pic {
    width: 220px;
    height: 24px;
    border-radius: 6px;
}
div.zTreeDemoBackground1 {
    position: relative;
    padding: 10px;
    padding-left: 0px;
    text-align: left;
}
input.empty1 {
    color: lightgray;
}
#submit1 {
    height: 28px;
    width: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 11px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0px;
}

.ztree1 {
    margin: 0;
    padding: 5px;
    color: #333;
}
.ztree1 li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.ztree1 li span.button.chk.checkbox_false_full {
    background-position: 0 0;
}
.ztree1 li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto;
}

.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle;
}

.ztree li span {
    font-size: 16px;
}

.ztree li input {
    width: 100px;
} */
/* ****************************** */
.container1,.hangyes{
    width: 680px;
    margin: 20px auto;
    font-size: 20px;
    word-wrap:normal;
}
.container1 ul{
    margin-top: 0px;
    padding-left: 40px;
}
.hangyes{
height: 42px;
    position: relative;
}
#hangyes{
    margin-left: 20px;
    width: 190px;
}

ul#nav {
    width: 100%;
    height: 60px;
    background: #00A2CA;
    margin: 0 auto
}

ul#nav li {
    display: inline;
    height: 60px
}

ul#nav li a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 16px
}

ul#nav li a:hover {
    background: #0095BB
}

/*设置鼠标滑过或悬停时变化的背景颜色*/
/* body {
    zoom: 70%;
    background-color: #E1DEDE;
} */

input.name {
    width: 180px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 10px;
    margin-left: 15px;
}

button.add,button.submit1 {
    width: 80px;
    height: 38px;
    color: white;
    background: #006cca;
    border: 0px;
    border-radius: 6px;
    margin-bottom: 10px;
}

select.type,select#hangyes {
    width: 160px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding-left: 6px;
    line-height: 40px;
    margin-bottom: 10px;
}

.submit1 {
    position: absolute;
        right: 148px;
}
.container1 ul {
    margin-top: 0px;
    padding-left: 40px;
}